<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./styles/style.css">
    <title>S.P.I.T. Inventory | Notifications</title>
</head>
<body>
    {{>navbar}}
    {{>login}}
    <h1 class="text-5xl ml-16 mt-5">Notifications</h1>
    <div class="con mx-5 my-3 flex flex-col min-h-screen">
        <div class="main_cont flex justify-between mx-5 mt-5" id="0">
            <div class="content bg-blue-300 w-3/4 px-5 pt-3 pb-4 rounded-l-lg">
                <h1 class="text-2xl font-bold">Lorem ipsum dolor sit amet consectetur adipisicing.</h1>
                <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quos aperiam magnam ut nihil expedita omnis temporibus eum tempore consequatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, tempore.</p>
            </div>
            <div class="del bg-blue-300 w-1/4 flex justify-center items-center rounded-r-lg">
                <img src="close.png" alt="" class="h-10 cursor-pointer hover:h-12 close">
            </div>
        </div>
        <div class="main_cont flex justify-between mx-5 mt-5" id="1">
            <div class="content bg-blue-300 w-3/4 px-5 pt-3 pb-4 rounded-l-lg">
                <h1 class="text-2xl font-bold">Lorem ipsum dolor sit amet consectetur adipisicing.</h1>
                <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quos aperiam magnam ut nihil expedita omnis temporibus eum tempore consequatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, tempore.</p>
            </div>
            <div class="del bg-blue-300 w-1/4 flex justify-center items-center rounded-r-lg">
                <img src="close.png" alt="" class="h-10 cursor-pointer hover:h-12 close">
            </div>
        </div>
        <div class="main_cont flex justify-between mx-5 mt-5" id="2">
            <div class="content bg-blue-300 w-3/4 px-5 pt-3 pb-4 rounded-l-lg">
                <h1 class="text-2xl font-bold">Lorem ipsum dolor sit amet consectetur adipisicing.</h1>
                <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quos aperiam magnam ut nihil expedita omnis temporibus eum tempore consequatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, tempore.</p>
            </div>
            <div class="del bg-blue-300 w-1/4 flex justify-center items-center rounded-r-lg">
                <img src="close.png" alt="" class="h-10 cursor-pointer hover:h-12 close">
            </div>
        </div>
        <div class="main_cont flex justify-between mx-5 mt-5" id="3">
            <div class="content bg-blue-300 w-3/4 px-5 pt-3 pb-4 rounded-l-lg">
                <h1 class="text-2xl font-bold">Lorem ipsum dolor sit amet consectetur adipisicing.</h1>
                <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quos aperiam magnam ut nihil expedita omnis temporibus eum tempore consequatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, tempore.</p>
            </div>
            <div class="del bg-blue-300 w-1/4 flex justify-center items-center rounded-r-lg">
                <img src="close.png" alt="" class="h-10 cursor-pointer hover:h-12 close">
            </div>
        </div>
    </div>
    {{>footer}}
</body>
<script src="./js/noti.js"></script>
<script src="./js/login.js"></script>
</html>