<nav class="flex bg-blue-800 h-20 justify-between">
    <div class="h-16 w-16 bg-red-600 relative left-2 top-2 rounded-md bg-no-repeat bg-cover" style="background-image: url(College-Logo.jpg)">
    </div>
    <a href="https://www.spit.ac.in/"><h1 class="text-3xl text-white relative top-5 right-72 hover:underline">S.P.I.T.</h1></a>
    {{!-- <img src="College Logo.jpg" alt="Not Found" class="h-16 relative left-2 top-2"> --}}
    <ul class="flex items-center relative right-96">
        <li class="px-10 py-2 font-semibold text-2xl text-white hover:text-blue-800 hover:bg-white rounded-md cursor-pointer"><a href="/index">Home</a></li>
        <li class="px-10 py-2 font-semibold text-2xl text-white hover:text-blue-800 hover:bg-white rounded-md cursor-pointer"><a href="/inventory">Inventory</a></li>
        <li class="px-10 py-2 font-semibold text-2xl text-white hover:text-blue-800 hover:bg-white rounded-md cursor-pointer"><a href="/orders">Your Orders</a></li>
        {{!-- <li class="px-10 py-2 font-semibold text-2xl text-white hover:text-blue-800 hover:bg-white rounded-md cursor-pointer"><a href="">Our Projects</a></li> --}}
        {{!-- <li class="px-10 py-2 font-semibold text-2xl text-white hover:text-blue-800 hover:bg-white rounded-md cursor-pointer"><a href="/noti">Notifications</a></li> --}}
    </ul>
    <button class="bg-white text-blue-800 text-2xl px-3 rounded-md h-10 absolute top-5 right-10 hover:font-semibold" id="login_btn">Log in / Signup</button>
    <button class="hidden bg-white text-blue-800 text-2xl px-3 rounded-md h-10 absolute top-5 right-10 hover:font-semibold" id="logout_btn">Log out</button>
</nav>